<div class=row>
	<div class="col-md-6" >
		<!-- About Section -->
		  <div class="w3-content w3-justify w3-text-blue w3-padding-32" id="about">		   
		    <h3 class="w3-padding-16">Mis habilidades</h3>
		    <p class="w3-wide">Programación Web</p>
		    <div class="w3-light-blue">
		      <div class="w3-container w3-center w3-padding-small w3-indigo" style="width:95%">95%</div>
		    </div><br>
		    <p class="w3-wide">Viajes</p>
		    <div class="w3-light-blue">
		      <div class="w3-container w3-center w3-padding-small w3-indigo" style="width:85%">85%</div>
		    </div><br>
		    <p class="w3-wide">Fotografía</p>
		    <div class="w3-light-blue">
		      <div class="w3-container w3-center w3-padding-small w3-indigo" style="width:80%">80%</div>
		    </div><br>
		    <p class="w3-wide">Running</p>
		    <div class="w3-light-blue">
		      <div class="w3-container w3-center w3-padding-small w3-indigo" style="width:80%">60%</div>
		    </div><br>
		  </div>  
	</div>	
	<div class="col-md-6" >
		<profile> </profile>
	</div>	
</div>	

