<div class="container" style="margin-left:40px; margin-top:120px; background:#99ccff ;    border-radius: 25px; border: 3px solid white; " >
  <div [hidden]="submitted">
    <h1>Contacto</h1>
<form novalidate
      (ngSubmit)="onSubmit()"
      #f="ngForm">
      <div class="form-group"
	     [ngClass]="{
        'has-danger': email.invalid && (email.dirty || email.touched),
        'has-success': email.valid && (email.dirty || email.touched)
   }">
		<label  style ="color:#f7f4f4">Email</label>
		<input type="email"
		       class="form-control"
		       name="email"
		       [(ngModel)]="model.email"
		       required
		       pattern="[^ @]*@[^ @]*"
		       #email="ngModel">
		<div class="form-control-feedback"
		     *ngIf="email.errors && (email.dirty || email.touched)">
			<p *ngIf="email.errors.required" style="color:red">Email is required</p>
			<p *ngIf="email.errors.pattern" style="color:red">Email must contain at least the @ character</p>
		</div>
	</div>
 
      <div class="form-group">
        <label for="message" style ="color:#f7f4f4">Mensaje</label>
  	<textarea class="form-control" required rows="5"  id="message"
               [(ngModel)]="model.message" name="message"></textarea>
		
      </div>

	<button type="submit"
	        class="btn btn-primary"
		style="margin-bottom: 20px"
	        [disabled]="f.invalid">Submit
	</button>

    </form>
  </div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

