<!--The content below is only a placeholder and can be replaced.-->
<div style=" margin-top:20px;  background-color: #99ccff;">
	<h1 >Curriculum Vitae</h1>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="btn-group-vertical" style="margin-left:60px">
			<a class="btn btn-primary" href="#" role="button">Estudios</a>
			<a class="btn btn-primary" href="#" role="button">Experiencia</a>
			<a class="btn btn-primary" href="#" role="button">Conocimientos</a>
			<div class="btn-group" dropdown container="body">
  				<button dropdownToggle type="button" class="btn btn-primary dropdownToggle">
    					Otros <span class="caret"></span>
  				</button>
  				<ul *dropdownMenu class="dropdown-menu" role="menu">
				    <li role="menuitem"><a class="dropdown-item" href="#">Datos de interés</a></li>
    				    <li role="menuitem"><a class="dropdown-item" href="#">Mis fotos</a></li>
  				</ul>
			</div>	
		</div>
	</div>
	<div class="col-md-6">

	</div>
</div>
<router-outlet></router-outlet>
