<div class=row>
	<div class="col-md-10">
		<ngb-carousel>
		  <ng-template ngbSlide>
		    <img src="assets/Roma.jpg" alt="Roma" height="600" width="1000">
		    <div class="carousel-caption">
		      <h3>Roma</h3>
		      <p>Vista del palacio de Roma.</p>
		    </div>
		  </ng-template>
		  <ng-template ngbSlide>
		    <img src="assets/Milan.jpg" alt="Milan" height="600" width="1000">
		    <div class="carousel-caption">
		      <h3>Milan</h3>
		      <p>Vista desde la terraza de la catedral de Milan.</p>
		    </div>
		  </ng-template>
		  <ng-template ngbSlide>
		    <img src="assets/Florencia.jpg" alt="Florencia" height="600" width="1000">
		    <div class="carousel-caption">
		      <h3>Florencia</h3>
		      <p>Vista del duomo desde el palacio Vecchio.</p>
		    </div>
		  </ng-template>
		</ngb-carousel>
	</div>
</div>	


