<div class="col-md-10" style="margin-top:50px">
<tabset>
  <tab heading="Lenguajes programación" class="mt-2" >
    <pre>
    - C.  
    - C++. 
    - Java. 
    - PHP. 
    - Python. 
    - Javascript. 
    - OpenGL. 
    - OpenSceneGraph. 
    - Prolog. 
    - Ensamblador. 
    - Json. 
    - HTML. 
    - X3D. 
    - JSP. 
    - VoiceXML. 
    - Angular2.
    </pre>
  </tab>
  <tab heading="BBDD" class="mt-2" >
   <pre>
    - MySQL.  
    - Oracle SQL. 
    - Access 
    </pre>
  </tab>
    <tab heading="IDE" class="mt-2" >
    <pre>
    - Eclipse.  
    - Netbeans. 
    - Visual Studio. 
    - Code::blocks. 
    - Android Studio. 
    - Dev-C++. 
    - IntelliJ IDEA.     
    </pre>
  </tab>
    <tab heading="S.O." class="mt-2" >
    <pre>
    - Windows.  
    - Unix. 
    </pre>
  </tab>
    <tab heading="Control Versiones" class="mt-2" >
    <pre>
    - Git.  
    - Mercurial.
    - Subversion. 
    </pre>
  </tab>
    <tab heading="Metodologías desarrollo" class="mt-2" >
    <pre>
    - XP.  
    - SCRUM. 
    - Agile     
    </pre>
  </tab>
</tabset>
</div>

