
<body>

<div class="container">

  <div class="card" style="width:400px">
    <img class="card-img-top" src="assets/profile.jpg" alt="perfil" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Victor Marquez Gonzalez</h4>
      <p class="card-text">Ingeniero de software, especializado en el desarrollo Front-End, amantes de los viajes, apasionado de la fotografía y runner en activo</p>
      <a href="http://www.linkedin.com/in/víctor-márquez-gonzález-3b0306120" class="btn btn-primary">Ver linkedin</a>
    </div>
  </div>
  <br>
 
      <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Madrid, Spain</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: vimarquez91@mail.com</p>
    </div>
    
     <!-- Google Map -->

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0y_Alo96WuOW0KAFAZTXd_eY1k1oBnG8&callback==myMap"></script>
</body>


